
# IDE
.idea/
.claude

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Auth state
.auth/

# Environment variables
.env
CLAUDE.md

# Allure reports
/allure-results/
/allure-report/
